*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  --Purple-600: hsl(246, 80%, 60%);
  --Orange-300: hsl(15, 100%, 70%);
  --Blue-300: hsl(195, 74%, 62%);
  --Pink-400: hsl(348, 100%, 68%);
  --Green-400: hsl(145, 58%, 55%);
  --Purple-700: hsl(264, 64%, 52%);
  --Yellow-300: hsl(43, 84%, 65%);
  --Navy-950: hsl(226, 43%, 10%);
  --Navy-900: hsl(235, 46%, 20%);
  --Purple-500: hsl(235, 45%, 61%);
  --Navy-200: hsl(236, 100%, 87%);
}

body {
  font-family: "Rubik", sans-serif;
  background: var(--Navy-950);
  color: rgb(251, 251, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 62em;
  margin: 0 auto;
  gap: 1.5em;
}

/* HEADER */

.dashboard-header {
  grid-row: 1 / 3;
  background: var(--Navy-900);
  border-radius: 30px 30px 10px 10px;
}

.dashboard-user {
  background: var(--Purple-600);
  border-radius: 10px;
  padding: 1.5em;
}

.dashboard-user img {
  width: 72px;
  height: 72px;
  border: 2.5px solid white;
  border-radius: 50%;
}

.dashboard-user h1 span {
  font-size: 0.8rem;
  color: var(--Navy-200);
}

.dashboard-user h1 {
  font-size: 2rem;
  font-weight: 300;
}

.dashboard-timeline-toggle {
  padding: 1.5em;
}

.dashboard-timeline-toggle ul li {
  list-style: none;
}

.toggle-button {
  cursor: pointer;
  background-color: var(--Navy-900);
  border: none;
  outline: none;
  color: var(--Purple-500);
  font-size: 1rem;
}

/* TILES */

.dashboard-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px 10px 30px 30px;
}

.dashboard-tile.one {
  background: var(--Orange-300);
  background-image: url(./images/icon-work.svg);
}

.dashboard-tile.two {
  background: var(--Blue-300);
  background-image: url(./images/icon-play.svg);
}

.dashboard-tile.three {
  background: var(--Pink-400);
  background-image: url(./images/icon-study.svg);
}

.dashboard-tile.four {
  background: var(--Green-400);
  background-image: url(./images/icon-exercise.svg);
}

.dashboard-tile.five {
  background: var(--Purple-700);
  background-image: url(./images/icon-social.svg);
}

.dashboard-tile.six {
  background: var(--Yellow-300);
  background-image: url(./images/icon-self-care.svg);
}

.dashboard-tile.one,
.dashboard-tile.two,
.dashboard-tile.three,
.dashboard-tile.four,
.dashboard-tile.five,
.dashboard-tile.six {
  background-repeat: no-repeat;
  background-size: 3em;
  background-position: 90% -0.4em;
}

.tile-content {
  background: var(--Navy-900);
  border-radius: 10px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  padding: 1.5em;
}

.tile-category {
  display: flex;
  justify-content: space-between;
}

.tile-category h2 {
  font-size: 1rem;
  font-weight: 400;
}

.timeframe-button {
  cursor: pointer;
  background-color: var(--Navy-900);
  border: none;
  outline: none;
}

.time {
  font-size: 3rem;
  font-weight: 300;
}

.previous-text, .time-previous  {
  font-size: 0.8rem;
  color: var(--Navy-200);
}

/* HOVER - ACTIVE - FOCUS */

.toggle-button:hover,
.toggle-button:active,
.toggle-button:focus {
  color: rgb(251, 251, 251);
}

.timeframe-button:hover img,
.timeframe-button:active img,
.timeframe-button:focus img {
  filter: brightness(1.2);
  transition: filter 400ms ease;
}

.tile-content:hover {
  filter: brightness(1.6);
  transition: filter 400ms ease;
}

/* SMALL SCREENS */
